<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/adminModel">

    <head>
        <title>后台首页</title>
        <link rel="stylesheet" type="text/css" href="/metronic/css/bootstrap-responsive.min.css"/>
        <link href="/metronic/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div th:fragment="content">
            <div class="page-header">
                <h1>后台首页
                    <small>
                        <i class="icon-double-angle-right"></i>
                        查看
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok green"></i>
                欢迎登陆
                <strong class="green">
                    <b th:text="${session.appConfig.appName}">系统名称</b>
                    <small th:text="${session.appConfig.appVersion}">版本</small>
                </strong>
                ，登陆IP：<span th:text="${session.LOGIN_USER.login_ip}">登陆IP</span>，登陆时间：
                <span th:text="${#dates.format(session.LOGIN_USER.login_time, 'yyyy-MM-dd HH:mm:ss')}"></span>
            </div>

            <div class="col-md-12">
                <div class="row-fluid">
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat dark-red">
                            <div class="visual"><i class="fa fa-shopping-cart"></i></div>
                            <div class="details">
                                <div class="number" th:text="${ordersCount}">-</div>
                                <div class="desc">订单总数</div>
                            </div>
                            <a class="more" href="/admin/orders/list">
                                查看详情 <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat dark-yellow">
                            <div class="visual"><i class="fa fa-ship"></i></div>
                            <div class="details">
                                <div class="number" th:text="${ordersOverdueCount}">-</div>
                                <div class="desc">已逾期订单数</div>
                            </div>
                            <a class="more" href="/admin/orders/list?filter_isOverdue=eq-1">
                                查看详情 <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat dark-green">
                            <div class="visual"><i class="fa fa-truck"></i></div>
                            <div class="details">
                                <div class="number" th:text="${carNobackCount}">-</div>
                                <div class="desc">未归还车辆数</div>
                            </div>
                            <a class="more" href="/admin/car/list?filter_status=eq-2">
                                查看详情 <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat dark-pink">
                            <div class="visual"><i class="fa fa-plug"></i></div>
                            <div class="details">
                                <div class="number" th:text="${carRepairCount}">-</div>
                                <div class="desc">在维修车辆数</div>
                            </div>
                            <a class="more" href="/admin/car/list?filter_status=eq-3">
                                查看详情 <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row-fluid">
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat blue">
                            <div class="visual"><i class="fa fa-user"></i></div>
                            <div class="details">
                                <div class="number" th:text="${peopleCount}">-</div>
                                <div class="desc">客户总数</div>
                            </div>
                            <a class="more" href="/admin/people/list">
                                查看详情 <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat green">
                            <div class="visual"><i class="fa fa-car"></i></div>
                            <div class="details">
                                <div class="number" th:text="${carCount}">-</div>
                                <div class="desc">车辆总数</div>
                            </div>
                            <a class="more" href="/admin/car/list">
                                查看详情 <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat purple">
                            <div class="visual"><i class="fa fa-soccer-ball-o"></i></div>
                            <div class="details">
                                <div class="number" th:text="${carBrandCount}">-</div>
                                <div class="desc">车辆品牌数量</div>
                            </div>
                            <a class="more" href="/admin/carBrand/list">
                                查看详情 <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat yellow">
                            <div class="visual"><i class="fa fa-tags"></i></div>
                            <div class="details">
                                <div class="number" th:text="${carTypeCount}">-</div>
                                <div class="desc">车辆种类数量</div>
                            </div>
                            <a class="more" href="/admin/carType/list">
                                查看详情 <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row-fluid">
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat color3">
                            <div class="visual"><i class="fa fa-users"></i></div>
                            <div class="details">
                                <div class="number" th:text="${wxUserCount}">-</div>
                                <div class="desc">微信用户数量</div>
                            </div>
                            <a class="more" href="/admin/weixin/list">
                                查看详情 <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat color2">
                            <div class="visual"><i class="fa fa-comments"></i></div>
                            <div class="details">
                                <div class="number" th:text="${wxMessageCount}">-</div>
                                <div class="desc">微信消息数量</div>
                            </div>
                            <a class="more" href="/admin/weixinMessage/list">
                                查看详情 <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat dark-blue">
                            <div class="visual"><i class="fa fa-bell"></i></div>
                            <div class="details">
                                <div class="number" th:text="${legalCount}">-</div>
                                    <div class="desc">违章总条数</div>
                            </div>
                            <a class="more" href="/admin/legal/list">
                                查看详情 <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat red2">
                            <div class="visual"><i class="fa fa-bell-slash"></i></div>
                            <div class="details">
                                <div class="number" th:text="${legalNoProcessCount}">-</div>
                                <div class="desc">违章未处理条数</div>
                            </div>
                            <a class="more" href="/admin/legal/list?filter_status=eq-0">
                                查看详情 <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>