<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/wxModel">

    <head>
        <title>关于我们</title>
    </head>
    <body>
        <div th:fragment="content">
            <div class="page-header">
                <h3 class="text-center">关于我们</h3>
            </div>
            <div th:utext="${appConfig.about}" class="container" style="line-height:30px; font-size:16px; color:#555"></div>
        </div>
    </body>
</html>