<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<script type="text/javascript" src="/validate/bootstrapValidator.js"></script>
		<link type="text/css" rel="stylesheet" href="/js-lib/jquery-labelauty.css"/>
		<script type="text/javascript" src="/js-lib/jquery-labelauty.js"></script>
		<title>查看车辆信息</title>
		<script type="text/javascript">
			$(function() {
				$("input").each(function() {
					$(this).attr("readonly", "readonly");
				});
			});
		</script>
	</head>
	<body>
		<div th:fragment="content" th:remove="tag">
			<div class="header lighter smaller blue">
				<h3><i class="icon-plus"></i>&nbsp;查看车辆信息 </h3>
				<div th:replace="admin/carInfo/nav :: content" th:remove="tag"></div>
			</div>

			<div>
				<img th:src="${carInfo.tpdz1}" th:if="${carInfo.tpdz1 ne null and carInfo.tpdz1 ne ''}" style="width:24%;"/>
				<img th:src="${carInfo.tpdz2}" th:if="${carInfo.tpdz2 ne null and carInfo.tpdz2 ne ''}" style="width:24%;"/>
				<img th:src="${carInfo.tpdz3}" th:if="${carInfo.tpdz3 ne null and carInfo.tpdz3 ne ''}" style="width:24%;"/>
				<img th:src="${carInfo.tpdz4}" th:if="${carInfo.tpdz4 ne null and carInfo.tpdz4 ne ''}" style="width:24%;"/>
			</div>

			<div class="form-group form-group-lg">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">车辆种类</div>
					<div class="form-control form-inline">
						<p th:text="${carInfo.typeName}" th:remove="tag"></p>
					</div>
				</div>
			</div>
			<div class="form-group form-group-lg">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">车辆品牌</div>
					<div class="form-control form-inline">
						<p th:text="${carInfo.brandName}+${carInfo.ppxl}" th:remove="tag"></p>
						<b class="red" th:text="${carInfo.rjj} + ' 元/天 '"></b>
					</div>
				</div>
			</div>

			<div class="form-group form-group-lg">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">可选颜色</div>
					<input type="text" name="kxys" th:value="${carInfo.kxys}" class="form-control" placeholder="-"/>
				</div>
			</div>
			<div class="form-group form-group-lg">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">车辆型号</div>
					<input type="text" name="clxs" th:value="${carInfo.clxs}" class="form-control" placeholder="-"/>

					<div class="input-group-addon">配置类型</div>
					<input type="text" name="pzlx" th:value="${carInfo.pzlx}" class="form-control" placeholder="-"/>
				</div>
			</div>

			<div class="form-group form-group-lg">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">操作方式</div>
					<input type="text" name="czlx" th:value="${carInfo.czlx}" class="form-control" placeholder="-"/>

					<div class="input-group-addon">动力大小</div>
					<input type="text" name="fdjdl" th:value="${carInfo.fdjdl}" class="form-control" placeholder="-"/>
				</div>
			</div>

			<div class="form-group form-group-lg">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">座位数量</div>
					<input type="text" name="zwsl" th:value="${carInfo.zwsl}" class="form-control" placeholder="-" onkeyup="this.value=this.value.replace(/\D/g,'')"/>

					<div class="input-group-addon">出厂年代</div>
					<input type="text" name="ccnd" th:value="${carInfo.ccnd}" class="form-control" placeholder="-" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
				</div>
			</div>

			<div class="form-group form-group-lg">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">燃料类型</div>
					<input type="text" name="rllx" th:value="${carInfo.rllx}" class="form-control" placeholder="-"/>

					<div class="input-group-addon">燃油标号</div>
					<input type="text" name="rybh" th:value="${carInfo.rybh}" class="form-control" placeholder="-"/>
				</div>
			</div>

			<div class="form-group form-group-lg">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">油箱容量</div>
					<input type="text" name="yxrl" th:value="${carInfo.yxrl}" class="form-control" placeholder="-" onkeyup="this.value=this.value.replace(/\D/g,'')"/>

					<div class="input-group-addon">排量大小</div>
					<input type="text" name="pl" th:value="${carInfo.pl}" class="form-control" placeholder="-" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
				</div>
			</div>

			<div class="form-group form-group-lg">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">驱动方式</div>
					<input type="text" name="qdfs" th:value="${carInfo.qdfs}" class="form-control" placeholder="-"/>

					<div class="input-group-addon">车门数量</div>
					<input type="text" name="cmsl" th:value="${carInfo.cmsl}" class="form-control" placeholder="-" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
				</div>
			</div>

			<div class="form-group form-group-lg">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">进气方式</div>
					<input type="text" name="jqfs" th:value="${carInfo.jqfs}" class="form-control" placeholder="-"/>

					<div class="input-group-addon">天窗类型</div>
					<input type="text" name="tclx" th:value="${carInfo.tclx}" class="form-control" placeholder="-"/>
				</div>
			</div>

			<div class="form-group form-group-lg">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">座椅类型</div>
					<input type="text" name="zylx" th:value="${carInfo.zylx}" class="form-control" placeholder="-"/>

					<div class="input-group-addon">变速箱类型</div>
					<input type="text" name="bsxlx" th:value="${carInfo.bsxlx}" class="form-control" placeholder="-"/>
				</div>
			</div>

			<div class="form-group form-group-lg">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">倒车雷达</div>
					<input type="text" name="dcld" th:value="${carInfo.dcld}" class="form-control" placeholder="-"/>

					<div class="input-group-addon">倒车影像</div>
					<input type="text" name="dcyx" th:value="${carInfo.dcyx}" class="form-control" placeholder="-"/>
				</div>
			</div>

			<div class="form-group form-group-lg">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">影音类型</div>
					<input type="text" name="yylx" th:value="${carInfo.yylx}" class="form-control" placeholder="-"/>

					<div class="input-group-addon">音箱数量</div>
					<input type="text" name="yxsl" th:value="${carInfo.yxsl}" class="form-control" placeholder="-" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
				</div>
			</div>

			<div class="form-group form-group-lg">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">气囊数量</div>
					<input type="text" name="qnsl" th:value="${carInfo.qnsl}" class="form-control" placeholder="-" onkeyup="this.value=this.value.replace(/\D/g,'')"/>

					<div class="input-group-addon">GPS导航</div>
					<input type="text" name="gps" th:value="${carInfo.gps}" class="form-control" placeholder="-" />
				</div>
			</div>

			<button type="button" onclick="history.back(-1)" class="btn btn-primary">返回上级</button>
		</div>
	</body>
</html>