<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" src="/js-lib/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/bootstrap3/css/bootstrap.min.css"/>

    <script type="text/javascript" src="/pub-js/identityValid.js"></script>
    <script type="text/javascript">
        $(function() {
            var iden = "532127198803011115";
            alert(identityCodeValid(iden));
            alert(idCardInfo(iden, "1"));
            alert(idCardInfo(iden, "2"));
            alert(idCardInfo(iden, "3"));
        });
    </script>
</head>
<body>

<div class="container">
    <div class="alert alert-info">
        <h1>测试js是否起作用</h1>
    </div>
    <div class="alert alert-warning">
        <form method="POST" enctype="multipart/form-data" action="/test/uploadFiles">
            <p>文件1：<input type="file" name="file" /></p>

            <p>文件2：<input type="file" name="file" /></p>

            <p>文件3：<input type="file" name="file" /></p>

            <p><input type="submit" value="上传" class="btn btn-info"/></p>

        </form>

        <img class=""  src="/test.jpg"/>

    </div>
</div>
</body>
</html>