<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/adminModel">
<head>
    <meta charset="utf-8"/>
    <title>保证金管理</title>
    <link rel="stylesheet" href="/admin/css/style.css"/>
    <!-- table edit -->
    <link href="/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $(".delete-obj-href").deleteFun();

            $('.forfeitMoney').editable({
                type: 'text',
//                url: '/admin/deposit/updateFM',
                url: '/admin/deposit/updateFM',
                name: "forfeitMoney",
                pk: 1,
                emptytext: "0",
                title: '请输入扣除款金额',
                validate: function (value) { //字段验证
                    if (isNaN(value)) {
                        return '请输入有效数字';
                    }
                },

                success: function(result) {
                    alert(result);
                }
            });

            $('.forfeitComments').editable({
                type: 'textarea',
                name: 'forfeitComments',
                title: '请输入扣除款备注'
            });
        });
    </script>


</head>
<body>
    <div th:fragment="content" th:remove="tag">
        <div class="header lighter small blue">
            <h3>
                <span class="glyphicon glyphicon-th-list"></span><i class="icon-setting"></i>&nbsp;保证金管理<small>&nbsp;</small>
            </h3>

            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="请输入身份证号查询" th:value="${tenantSfz}" name="tenantSfz" size="30" class="search-input" id="search-input" autocomplete="off" />
                    <i class="ace-icon icon-search nav-search-icon"></i>
                    <button type="submit" class="btn btn-primary">查询</button>
                </span>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>身份证号</th>
                        <th>联系电话</th>
                        <th>租车订单</th>
                        <th>保证金</th>
                        <th>违章罚款</th>
                        <th>其他扣除款</th>
                        <th>其他扣除款备注</th>
                        <th>应退保证金</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="obj : ${datas}">
                        <td th:text="${obj.tenantName}"></td>
                        <td th:text="${obj.tenantSfz}"></td>
                        <td th:text="${obj.phone}"></td>
                        <td th:text="${obj.rentId}"></td>
                        <td th:text="${obj.money} + 元"></td>
                        <td>
                            <span th:text="${obj.legalMoney == null ? 0 : obj.legalMoney}"></span>元
                        </td>
                        <td>
                            <a class="forfeitMoney" th:text="${obj.forfeitMoney}"></a>元
                        </td>
                        <td>
                            <span class="forfeitComments" th:text="${obj.forfeitComments}"></span>
                        </td>
                        <td>
                            <span th:text="${obj.returnMoney}"></span>元
                        </td>
                        <td th:text="${obj.status == '1' ? '未退还' : '已退还'}"></td>
                        <td>
                            <div class="action-buttons">
                                <span th:if="${obj.status ne '2'}">
                                    <a class="delete-obj-href green auth" sn="DepositController.updateStatus"
                                       th:title="'此操作不可逆,确定退还订单【'+${obj.rentId}+'】的保证金吗？'"
                                       th:href="'/admin/deposit/updateSt/'+${obj.id}">
                                        <i class="icon-pencil bigger-130"></i>退还
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:include="fragments/page :: pager" th:remove="tag"></div>
        </div>
    </div>
</body>
</html>