<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/adminModel">
<head>
    <meta charset="utf-8"/>
    <title>保证金管理</title>
    <link rel="stylesheet" href="/admin/css/style.css"/>
</head>
<body>
    <div th:fragment="content" th:remove="tag">
        <div class="header lighter small blue">
            <h3><span class="glyphicon glyphicon-th-list"></span><i class="icon-setting"></i>&nbsp;保证金管理<small>&nbsp;</small></h3>



            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>

        </div>

        <form role="form" class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" name="tenant_sfz" id="search" size="20" placeholder="请输入身份证号查询"/>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">查询</button>
        </form>

        <div class="table-responsive m-t-1">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>身份证号</th>
                        <th>联系电话</th>
                        <th>操作</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</body>
</html>