<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="ace-settings-container" id="ace-settings-container">
                <ul class="pagination">
                    <li><a class="auth" sn="WeiXinController.menuList" href="/admin/weixin/menuList"><span class="glyphicon glyphicon-th-list"></span>微信菜单列表</a></li>
                    <li><a class="auth" id="createWeiXinMenu" sn="WeiXinController.createWeiXinMenu" href="javascript:void(0)"><span class="glyphicon glyphicon-th-list"></span>创建微信菜单</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
