<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="ace-settings-container" id="ace-settings-container">
                <ul class="pagination" th:with="pid=${#httpServletRequest.getParameter('pid')}">
                    <li><a class="auth" sn="WeiXinController.menuList" href="/admin/weixin/menuList"><span class="glyphicon glyphicon-th-list"></span>微信菜单列表</a></li>
                    <li><a class="auth" sn="WeiXinController.menuList" th:href="'/admin/weixin/addMenu?pid='+${pid == null ? '' : pid}"><span class="icon-plus"></span>添加微信菜单</a></li>
                    <li><a class="auth delete-obj-href" title="确定生成微信菜单吗？提交后可能需要几分钟才能生效！" sn="WeiXinController.createWeiXinMenu" href="/admin/weixin/createMenu"><span class="glyphicon glyphicon-th-list"></span>创建微信菜单</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
