<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content" th:remove="tag">
            <div id="sys_filter" class="form-inline" style="padding-bottom:10px;">
                <div class="input-group">
                    <span class="input-group-addon">类型</span>
                    <select name="filter_type" opt="eq" class='filter_element form-control'>
                        <option value="">=全部=</option>
                        <option value="0">管理下单</option>
                        <option value="1">客户下单</option>
                        <option value="2">微信下单</option>
                    </select>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">身份证</span>
                    <input type='text' style="width:140px;" class='filter_element form-control' opt="like" name='filter_costumerIdentity'/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">姓名</span>
                    <input type='text' style="width:60px;" class='filter_element form-control' opt="like" name='filter_costumerName'/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">品牌</span>
                    <input type='text' style="width:80px;" class='filter_element form-control' opt="like" name='filter_brandName'/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">系列</span>
                    <input type='text' style="width:60px;" class='filter_element form-control' opt="like" name='filter_carSerial'/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">车牌</span>
                    <input type='text' style="width:80px;" class='filter_element form-control' opt="like" name='filter_carNo'/>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">逾期</span>
                    <select name="filter_isOverdue" opt="eq" class='filter_element form-control'>
                        <option value="">=全部=</option>
                        <option value="0">未逾期</option>
                        <option value="1">已逾期</option>
                    </select>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">状态</span>
                    <select name="filter_status" opt="eq" class='filter_element form-control'>
                        <option value="">=全部=</option>
                        <option value="0">未提车</option>
                        <option value="1">已提车</option>
                        <option value="2">已归还</option>
                        <option value="3">已取消</option>
                        <option value="10">已完结</option>
                    </select>
                </div>

                <span><button type="button" class="btn btn-primary btn-sm" id="beginFilter">查询</button></span>
            </div>
        </div>
    </body>
</html>
