<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/adminModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link type="text/css" rel="stylesheet" href="/js-lib/jquery-labelauty.css"/>
    <script type="text/javascript" src="/js-lib/jquery-labelauty.js"></script>
    <title>车辆列表</title>
</head>
<body>

    <div th:fragment="content" th:remove="tag">
        <div class="header lighter smaller blue">
            <h3><span class="glyphicon glyphicon-th-list"></span>&nbsp;车辆列表<small>（<b th:text="${carList.size()}"></b>）</small></h3>
            <div th:replace="admin/orders/nav :: content" th:remove="tag"></div>
        </div>
        <!-- <div class="table-header">
            Results for "Latest Registered Domains"
        </div> -->
        <div class="row">
            <div class="table-responsive" id="result-datas">
                <div th:if="${carList.size() le 0}" th:remove="tag">
                    <p style="font-size:14px; padding:4px 0px;">没有找到与【<span th:text="${#httpServletRequest.getParameter('params')}" th:remove="tag"></span>】相关的车辆信息</p>
                </div>
                <div th:if="${carList.size() ge 1}" th:remove="tag">
                    <p style="font-size:14px; padding:4px 0px;">搜索到<b class="remind-red" th:text="'【'+${carList.size()}+'】'">0</b>辆与<span class="remind-red" th:text="'【'+${#httpServletRequest.getParameter('params')}+'】'"></span>相关的可选在库车辆：</p>
                    <div th:each="car : ${carList}" th:remove="tag">
                        <input type="radio" class="car-id-radio" onclick="setCarId(this)" name="tempCarId" th:value="${car.id}" th:attr="data-labelauty=${car.brandName}+''+${car.carSerial}+'['+${car.carNo}+']',infoId=${car.infoId}"/>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function() {
                        $(':input.car-id-radio').labelauty();
                    });
                </script>
            </div>
        </div>
    </div>
</body>
</html>