<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content" th:remove="tag">
            <div id="sys_filter" class="form-inline" style="padding-bottom:10px;">
                <div class="input-group">
                    <span class="input-group-addon">名称</span>
                    <input type='text' th:value="${filter_name}" style="width:240px;" class='filter_element form-control' opt="like" id='filter_name' name='filter_name' />
                </div>

                <span><button type="button" class="btn btn-primary btn-sm" id="beginFilter">查询</button></span>
            </div>
        </div>
    </body>
</html>
