<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="ace-settings-container" id="ace-settings-container">
                <ul class="pagination">
                    <li><a class="auth" sn="CarBrandController.list" href="/admin/carBrand/list"><span class="glyphicon glyphicon-th-list"></span>车辆品牌列表</a></li>
                    <li><a class="auth" sn="CarBrandController.add" href="/admin/carBrand/add"><span class="icon-plus"></span>添加车辆品牌</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
