<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<script type="text/javascript" src="/validate/bootstrapValidator.js"></script>
		<link type="text/css" rel="stylesheet" href="/js-lib/jquery-labelauty.css"/>
		<script type="text/javascript" src="/js-lib/jquery-labelauty.js"></script>
		<title>添加车辆</title>
		<script type="text/javascript">
			$(function() {
				$(':input').labelauty();
			});
		</script>
	</head>
	<body>
		<div th:fragment="content" th:remove="tag">
			<div class="header lighter smaller blue">
				<h3><i class="icon-plus"></i>&nbsp;添加车辆</h3>
				<div th:replace="admin/car/nav :: content" th:remove="tag"></div>
			</div>

			<form method="POST" th:object="${car}" enctype="multipart/form-data" id="dataForm">
				<div class="form-group form-group-lg">
					<div class="input-group input-group-lg">
						<div class="input-group-addon">车辆所属</div>
						<div class="form-control form-inline" th:text="${carInfo.brandName}+${carInfo.ppxl}"></div>
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group input-group-lg">
						<div class="input-group-addon">车牌号码</div>
						<input type="text" name="carNo" th:value="${car.carNo}" style="text-transform:uppercase;" class="form-control" placeholder="如：云C00001"/>
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group input-group-lg">
						<div class="input-group-addon">发动机号</div>
						<input type="text" name="engineNo" th:value="${car.engineNo}" style="text-transform:uppercase;" class="form-control" placeholder="请输入完整发动机号"/>
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group input-group-lg">
						<div class="input-group-addon">车架号码</div>
						<input type="text" name="frameNo" th:value="${car.frameNo}" style="text-transform:uppercase;" class="form-control" placeholder="请输入完整车架号码"/>

					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group input-group-lg">
						<div class="input-group-addon">车辆来源</div>
						<div class="form-control">
							<input type="radio" name="fromFlag" value="1" th:checked="${car.fromFlag == 1}?'checked'" data-labelauty="新购"/>
							<input type="radio" name="fromFlag" value="2" th:checked="${car.fromFlag == 2}?'checked'" data-labelauty="二手购"/>
						</div>
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group input-group-lg">
						<div class="input-group-addon">是否出售</div>
						<div class="form-control">
							<input type="radio" name="saleFlag" value="1" th:checked="${car.saleFlag eq 1}?'checked'" data-labelauty="可出售"/>
							<input type="radio" name="saleFlag" value="0" th:checked="${car.saleFlag eq 0}?'checked'" data-labelauty="不出售"/>
						</div>
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group input-group-lg">
						<div class="input-group-addon">此车售价</div>
						<input type="text" name="price" th:value="${car.price}" onkeyup="this.value=this.value.replace(/\D/g,'')" class="form-control" placeholder="请输入此车的出售价格"/>
					</div>
				</div>

				<input type="hidden" name="token" th:value="${session.token}"/>
				<button type="submit" class="btn btn-primary">确定提交</button>
				<button type="button" class="btn btn-default" onclick="history.back(-1)">返回上级</button>
				<span class="remind-red">提交后将车牌号码、发动机号码和车架号码不可以修改，请检查信息是否正确无误！</span>
			</form>
			<script type="text/javascript" src="/admin/valid/car-valid.js"></script>
		</div>
	</body>
</html>