<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/adminModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="/validate/bootstrapValidator.js"></script>
    <title>添加车辆</title>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div class="header lighter smaller blue">
        <h3><i class="icon-plus"></i>&nbsp;添加车 </h3>
        <div th:replace="admin/carType/nav :: content" th:remove="tag"></div>
    </div>

    <form method="POST" th:object="${carType}" id="dataForm">
        <div class="form-group form-group-lg">
            <label for="typeName">车辆种类</label>
            <input type="text" name="typeName" th:value="${car.carType}" class="form-control" id="typeName" placeholder="请输入车辆种类"/>
        </div>
        <div class="form-group form-group-lg">
            <label for="typeName">车辆名称</label>
            <input type="text" name="typeName" th:value="${car.carName}" class="form-control" id="typeName" placeholder="请输入车辆名称"/>
        </div>
        <div class="form-group form-group-lg">
            <label for="typeName">车辆种类</label>
            <input type="text" name="typeName" th:value="${carType.typeName}" class="form-control" id="typeName" placeholder="请输入车辆种类"/>
        </div>
        <div class="form-group form-group-lg">
            <label for="typeName">车辆种类</label>
            <input type="text" name="typeName" th:value="${carType.typeName}" class="form-control" id="typeName" placeholder="请输入车辆种类"/>
        </div>
        <input type="hidden" name="token" th:value="${session.token}"/>
        <button type="submit" class="btn btn-primary">确定提交</button>
    </form>
    <script type="text/javascript">
        jQuery(function($) {
            $('#dataForm').bootstrapValidator({
                //		        live: 'disabled',
                message: '验证不通过',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    typeName: {
                        validators: {
                            notEmpty: {
                                message: '请输入汽车种类'
                            }
                        }
                    },
                }
            });
        });
    </script>
</div>
</body>
</html>